@keyframes myAnim {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.carousel-container {
    /* display: flex; */
    height: auto;
    /* width: 200px; */
    width: 100%;
}

.carousel-item {
    width: 169.717px;
}

.top__chars {
    display: flex;
    justify-content: center;
}

.mid__chars {
    display: flex;
    justify-content: center;
}

.bot__chars {
    display: flex;
    justify-content: center;
}

.w-100 {
    width: 169.717px !important;
    /* background-image: linear-gradient(to top, rgba(68, 139, 255, 0.8) 0%, rgba(68, 139, 255, 0) 70%); */
}

.image-container {
    position: relative;
    display: inline-block;
}


/* Main image */

.image-container img {
    display: block;
    width: 100%;
    height: 100%;
}


/* Pseudo-element to overlay */

.image-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 10px;
    width: 89%;
    height: 96%;
    background-image: linear-gradient(to top, rgba(112, 181, 192, 0.8) 0%, rgba(68, 139, 255, 0) 70%);
    background-size: cover;
    opacity: 0;
    pointer-events: none;
    transition: height 0.5s;
    /* Smooth transition for height change */
}

.charNames {
    position: absolute;
    top: 30%;
    left: 65%;
    width: 30.7166px;
    height: 218.85px;
    z-index: 1;
    opacity: 0;
}

.image-container:hover::before {
    opacity: 1;
    transition: ease-in 0.3s;
    animation: myAnim 2s ease 0s 1 normal forwards;
}

.image-container:hover .charNames {
    opacity: 1;
    transition: ease-in 0.3s;
}