@keyframes myAnim {
    0% {
        transform: scaleY(0);
    }
    100% {
        transform: scaleY(1);
    }
}

@keyframes myAnim2 {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

body {
    font-family: "EB Garamond", serif;
}

.logo {
    width: 190.067px;
    height: 69.75px;
}

.logo:hover {
    opacity: 0.8;
}

.carousel-container {
    display: flex;
    justify-content: center;
    height: auto;
    width: 100%;
    z-index: -999;
}

.carousel-item {
    width: 169.717px;
}

.top_container {
    display: flex;
    justify-content: center;
}

.bot_container {
    display: flex;
    justify-content: center;
}

.mid__chars {
    display: flex;
    justify-content: center;
}

.bot__chars {
    display: flex;
    justify-content: center;
}

.w-100 {
    width: 169.717px !important;
    /* background-image: linear-gradient(to top, rgba(68, 139, 255, 0.8) 0%, rgba(68, 139, 255, 0) 70%); */
}

.image-container {
    position: relative;
    display: inline-block;
}


/* Main image */

.image-container img {
    display: block;
    width: 100%;
    height: 100%;
}


/* Pseudo-element to overlay */

.image-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 10px;
    width: 89%;
    height: 96%;
    background-image: linear-gradient(to top, rgba(112, 181, 192, 0.8) 0%, rgba(68, 139, 255, 0) 70%);
    background-size: cover;
    pointer-events: none;
    transform-origin: bottom;
    transform: scaleY(0);
    transition: all .5s cubic-bezier(0.5, 0, 0, 1);
    /* Smooth transition for height change */
    z-index: 997;
}


/* Begin Particle Effect */

#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    /* background-color: black; */
    top: 0px;
    left: 0px;
    opacity: 0;
}

.image-container:hover #particles-js {
    opacity: 1;
}

#particles-js2 {
    position: absolute;
    width: 100%;
    height: 100%;
    /* background-color: black; */
    top: 0px;
    left: 0px;
    opacity: 0;
}

.image-container:hover #particles-js2 {
    opacity: 1;
}

#particles-js3 {
    position: absolute;
    width: 100%;
    height: 100%;
    /* background-color: black; */
    top: 0px;
    left: 0px;
    opacity: 0;
}

.image-container:hover #particles-js3 {
    opacity: 1;
}

#particles-js4 {
    position: absolute;
    width: 100%;
    height: 100%;
    /* background-color: black; */
    top: 0px;
    left: 0px;
    opacity: 0;
}

.image-container:hover #particles-js4 {
    opacity: 1;
}

#particles-js5 {
    position: absolute;
    width: 100%;
    height: 100%;
    /* background-color: black; */
    top: 0px;
    left: 0px;
    opacity: 0;
}

.image-container:hover #particles-js5 {
    opacity: 1;
}

#particles-js6 {
    position: absolute;
    width: 100%;
    height: 100%;
    /* background-color: black; */
    top: 0px;
    left: 0px;
    opacity: 0;
}

.image-container:hover #particles-js6 {
    opacity: 1;
}

#particles-js7 {
    position: absolute;
    width: 100%;
    height: 100%;
    /* background-color: black; */
    top: 0px;
    left: 0px;
    opacity: 0;
}

.image-container:hover #particles-js7 {
    opacity: 1;
}

#particles-js8 {
    position: absolute;
    width: 100%;
    height: 100%;
    /* background-color: black; */
    top: 0px;
    left: 0px;
    opacity: 0;
}

.image-container:hover #particles-js8 {
    opacity: 1;
}

#particles-js9 {
    position: absolute;
    width: 100%;
    height: 100%;
    /* background-color: black; */
    top: 0px;
    left: 0px;
    opacity: 0;
}

.image-container:hover #particles-js9 {
    opacity: 1;
}

#particles-js10 {
    position: absolute;
    width: 100%;
    height: 100%;
    /* background-color: black; */
    top: 0px;
    left: 0px;
    opacity: 0;
}

.image-container:hover #particles-js10 {
    opacity: 1;
}

#particles-js11 {
    position: absolute;
    width: 100%;
    height: 100%;
    /* background-color: black; */
    top: 0px;
    left: 0px;
    opacity: 0;
}

.image-container:hover #particles-js11 {
    opacity: 1;
}

#particles-js12 {
    position: absolute;
    width: 100%;
    height: 100%;
    /* background-color: black; */
    top: 0px;
    left: 0px;
    opacity: 0;
}

.image-container:hover #particles-js12 {
    opacity: 1;
}

#particles-js13 {
    position: absolute;
    width: 100%;
    height: 100%;
    /* background-color: black; */
    top: 0px;
    left: 0px;
    opacity: 0;
}

.image-container:hover #particles-js13 {
    opacity: 1;
}

#particles-js14 {
    position: absolute;
    width: 100%;
    height: 100%;
    /* background-color: black; */
    top: 0px;
    left: 0px;
    opacity: 0;
}

.image-container:hover #particles-js14 {
    opacity: 1;
}

#particles-js15 {
    position: absolute;
    width: 100%;
    height: 100%;
    /* background-color: black; */
    top: 0px;
    left: 0px;
    opacity: 0;
}

.image-container:hover #particles-js15 {
    opacity: 1;
}

#particles-js16 {
    position: absolute;
    width: 100%;
    height: 100%;
    /* background-color: black; */
    top: 0px;
    left: 0px;
    opacity: 0;
}

.image-container:hover #particles-js16 {
    opacity: 1;
}

#particles-js17 {
    position: absolute;
    width: 100%;
    height: 100%;
    /* background-color: black; */
    top: 0px;
    left: 0px;
    opacity: 0;
}

.image-container:hover #particles-js17 {
    opacity: 1;
}

#particles-js18 {
    position: absolute;
    width: 100%;
    height: 100%;
    /* background-color: black; */
    top: 0px;
    left: 0px;
    opacity: 0;
}

.image-container:hover #particles-js18 {
    opacity: 1;
}

#particles-js19 {
    position: absolute;
    width: 100%;
    height: 100%;
    /* background-color: black; */
    top: 0px;
    left: 0px;
    opacity: 0;
    z-index: 999;
    pointer-events: none;
}

.image-container:hover #particles-js19 {
    opacity: 1;
}


/* End Particle Effect */

#id-container::before {
    background-image: linear-gradient(to top, rgba(205, 31, 31, 0.8) 0%, rgba(68, 139, 255, 0) 70%);
}

#main-char-container::before {
    top: 4px;
    background-image: linear-gradient(to top, rgba(68, 139, 255, 0.8) 0%, rgba(68, 139, 255, 0) 70%);
}

.charNames {
    position: absolute;
    width: 30.7166px;
    height: 218.85px;
    opacity: 0;
    left: 75%;
    opacity: 0;
    transition: opacity 0.2s ease;
    z-index: 998;
    pointer-events: none;
}

.image-container:hover::before {
    transform: scaleY(1);
}

.image-container:hover .charNames {
    animation: myAnim2 1.3s normal forwards;
}

#main-char {
    top: 39%;
}

#katalina {
    top: 40%;
}

#rackam {
    top: 43%;
}

#io {
    top: 55%;
}

#eugen {
    top: 47%;
}

#rosetta {
    top: 43%;
}

#lancelot {
    top: 40%;
}

#vane {
    top: 50%;
}

#percival {
    top: 39%;
}

#siegfried {
    top: 38%;
}

#charlotta {
    top: 33%;
}

#yodarha {
    top: 38%;
}

#narmaya {
    top: 39%;
}

#zeta {
    top: 48%
}

#vaseraga {
    top: 39%;
}

#ferry {
    top: 46%;
}

#ghandagoza {
    top: 31%;
}

#cagliostro {
    top: 36%;
}

#id {
    top: 54%;
}

.main__char {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.top__chars {
    margin-top: 50px;
}